body {
    margin: 0;
    background-color: rgb(206, 204, 201);
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

.image-header {
    display: none;
}

header {
    width: 100%;
}

.text-header {
    width: 100%;
    height: 400px;
    padding-top: 170px;
    background-image: url(../../images/banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    margin-bottom: 70px
}

header>div>h1 {
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    margin: 0;
}

header>div>p {
    font-size: 12px;
    padding-top: 20px;
}

header>div>p>span {
    text-decoration: underline;
}

header>div>hr {
    margin-top: 10px;
    width: 40%;
}

/* BANNER */

.diamand {
    margin: auto;
    width: 70%;
    text-align: center;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    color: rgb(94, 93, 93);
    margin-bottom: 70px;
}

.text-diamand>p {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.text-diamand>h2 {
    text-transform: uppercase;
}

#diamanddiv {
    display: inline;
    padding: 15px;
    font-size: 30px;
    border: solid 1px rgb(94, 93, 93);
    border-radius: 50%;
}

.text-diamand {
    margin-top: 50px;
}

.diamand>button {
    letter-spacing: 2px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    color: rgb(94, 93, 93);
}

.diamand>button:hover {
    color: red;
    border-color: red;
}

/* CARDS */

.card>img {
    display: none;
}

.container {
    width: 100%;
    height: 300px;
    /* border: 1px solid black; */
    overflow: hidden;
    /* position: relative; */
}

#bgcontainer1 {
    background-image: url(../../images/pic01.jpg);
    /* width: 15%; */
    width: 100%;
    padding-top: 120px;
    padding-bottom: 120px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
}


#bgcontainer1>h4 {
    text-align: center;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
}

#bgcontainer1:hover {
    transform: scale(1.1);
    /* background-size: 110%; */
}

/* .bgcontainer:hover:not(h4){
    transform: scale(1.1);
} */

.card-body {
    height: 550px;
    /* border: solid 1px rgb(94, 93, 93); */
    width: 500px;
    background-color: white;
}

.card {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}

.button-card {
    letter-spacing: 2px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    color: rgb(94, 93, 93);
    text-align: center;
    margin:0 auto;
    margin-top: 40px;
    display:block;
}

.section-card {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    width: 70%;
    /* margin-right: 0;
    margin-left: 0; */
}

.card-text {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    text-align: center;
}

#bgcontainer2 {
    background-image: url(../../images/pic02.jpg);
    /* width: 15%; */
    width: 100%;
    padding-top: 120px;
    padding-bottom: 120px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
}


#bgcontainer2>h4 {
    text-align: center;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
}

#bgcontainer2:hover {
    transform: scale(1.1);
    /* background-size: 110%; */
}

#bgcontainer3 {
    background-image: url(../../images/pic03.jpg);
    /* width: 15%; */
    width: 100%;
    padding-top: 120px;
    padding-bottom: 120px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
}

#bgcontainer3>h4 {
    text-align: center;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
}

#bgcontainer3:hover {
    transform: scale(1.1);
    /* background-size: 110%; */
}

#bgcontainer4 {
    background-image: url(../../images/pic04.jpg);
    /* width: 15%; */
    width: 100%;
    padding-top: 120px;
    padding-bottom: 120px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
}

#bgcontainer4>h4 {
    text-align: center;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
}

#bgcontainer4:hover {
    transform: scale(1.1);
    /* background-size: 110%; */
}

